$primary-color: #831283;
$secondary-color: #C4749A;
$light-pink: #F5E1F1;
$white-pink: #F4EEF3;
$white-color: #ffffff;
$heading-color: #434343;
$para-color: #5C5C5C;
$black-color: #000000;
$heading-color-2: #323232;
$normal-color: #1c1c1c;
$background: #f5f5f5;
$background-2: #f2f2f2;
$border: #ebebeb;
$border-1: #e1e1e1;